*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background: #2b7291;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
}
.calculator{
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    padding-bottom: 30px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
}
.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.25);
    background: transparent;
    font-size: 20px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    margin: 10px;
}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}
form input.equal{
    width: 145px;
}
form input.operator{
    color: #4c38ff;
    background-color: lightsteelblue;
}
form input.AC{
    color: red;
    background-color: lightsteelblue;
}

.right{
    background: #7edae0;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 7%;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.4);
}
#box1{
    /* background: #35BDD0; */
    margin-top: 10px;
    width: 100%;
    height: 15%;
    text-align: right;
}